@charset "utf-8";

nav ul {
	padding-left: 46px;
	float: left;
	width: 100%;
	padding-top: 10px;
	background-color: #FFCB2D;
	list-style-type: none;
	background-image: url(images/nav_bg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
nav ul li {
	float: left;
	margin-right: 1px;
	fint-size: 80%;
}
nav ul li a {
	float: left;
	display: block;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;
	color: #333;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-bottom-style: none;
	border-color: #9b8748;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background-color: #EBCB6A;
}
nav ul li a:hover, nav ul li a.active {
	color: #333;
	background-color: #FFFFFF;
	border-color: #000000;
	padding-bottom: 5px;
}
body {
	font-size: 62.5%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#_content {
	border: 1px solid black;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px;
}
article p {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

article {
	clear: both;
}
.kappale2 {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
